# Node.js dependencies
node_modules
.next
out
dist

# Logs & cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*
.DS_Store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel & GitHub Pages Deployments
.vercel
.gitignore